<table class="table is-fullwidth">
  <thead>
    <th>Point of Interest</th>
    <th>Payment Options</th>
    <th>Coordinates</th>
    <th>Submitter</th>
  </thead>
  <tbody>
    {{#each donations}}
      <tr>
        <td>{{amount}}</td>
        <td>{{method}}</td>
        <td> {{donor.firstName}} {{donor.lastName}} </td>
        <td>{{candidate.lastName}}, {{candidate.firstName}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div class="box">
  <div class="title is-5"> See our maps page on our svelte app:  </div>
</div>
